/* 客户服务 */
.kehufuwu {
  position: absolute;
  display: none;
  top: 40px;
  left: 910px;
  width: 90px;
  height: 100px;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  border: 1px solid #eee;
  background-color: white;
}
/* 微信 */
.weixin {
  position: absolute;
  top: 40px;
  display: none;
  left: 220px;
  width: 140px;
  height: 140px;
}
/* APP */
.app {
  position: absolute;
  top: 40px;
  display: none;
  left: 330px;
  width: 140px;
  height: 140px;
}
.nav {
  width: 100%;
  height: 40px;
  font-size: 12px;
  background-color: #f3f5f7;
}
.nav ul {
  width: 380px;
  height: 40px;
  margin-left: 75px;
  float: left;
}
.nav ul li {
  height: 40px;
  line-height: 40px;
  float: left;
  margin-right: 34px;
}
.nav ul li i {
  color: #ff734c;
}
.nav ul li a {
  color: black;
}
.nav .ul2 {
  margin-left: 230px;
  width: 640px;
}
/* search */
.search {
  width: 100%;
  height: 120px;
  display: flex;
  padding: 14px 30px 0 70px;
}
.search .inp {
  width: 400px;
  height: 30px;
  border: 2px solid orangered;
  padding-left: 30px;
  display: flex;
  margin-top: 25px;
  margin-left: 124px;
  margin-right: 60px;
}
.search .inp i {
  font-size: 30px;
  color: gray;
}
.search .inp input {
  width: 320px;
  height: 30px;
  font-size: 14px;
  color: gray;
  border: none;
}
.search .inp a {
  width: 120px;
  height: 30px;
  background-color: orangered;
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
}
.search p {
  margin-left: 40px;
  margin-top: 38px;
}
.search p i {
  color: orangered;
  font-size: 24px;
}
/* ---------- */
.title {
  width: 990px;
  border: 1px solid grey;
  margin: 0 auto;
}
.title p {
  widows: 990px;
  height: 40px;
  background-color: #eee;
  line-height: 40px;
  font-size: 14px;
}
.title p span {
  margin-right: 80px;
  color: gray;
  font-weight: 600;
}
.title li {
  width: 950px;
  height: 100px;
  margin: 2px auto;
  border-bottom: 1px solid #eee;
  display: flex;
}
.title li img {
  width: 80px;
  height: 90px;
  margin-top: 5px;
}
.title li .checkbox {
  margin: 50px 24px;
}
.title li #msg {
  margin-right: 70px;
}
.title li span {
  margin: 44px 18px;
  font-size: 14px;
  color: gray;
}
.title li #price {
  margin: 40px;
  background-color: white;
}
.title li #num {
  width: 40px;
  height: 24px;
  margin-top: 45px;
}
/* total price */
.total {
  width: 950px;
  height: 52px;
  margin: 10px auto;
  border: 1px solid gray;
  display: flex;
  line-height: 52px;
  padding-left: 40px;
}
/* warn1 */
#warn1 {
  height: 180px;
  margin-left: 50px;
  border-bottom: 2px solid #eee;
}
#warn1 li {
  width: 234px;
  height: 52px;
  margin-left: 76px;
  margin-top: 20px;
  line-height: 52px;
  font-size: 20px;
  float: left;
}
#warn1 li i {
  font-size: 26px;
  color: white;
  background-color: orangered;
  border-radius: 18px;
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
}
/* footer */
.footer {
  width: 100%;
  height: 210px;
  background-color: #232628;
  padding-top: 40px;
}
.footer li {
  float: left;
  margin-top: 4px;
  margin-left: 50px;
  color: white;
  border-right: 2px solid white;
  padding-right: 18px;
  font-size: 16px;
}
.footer .p1 {
  width: 1200px;
  height: 40px;
  font-size: 10px;
  margin-top: 20px;
  line-height: 40px;
}
.footer .p2 {
  width: 1200px;
  height: 40px;
  font-size: 10px;
}
.footer .p3 {
  width: 1200px;
  height: 50px;
}
.footer .p3 img {
  float: left;
  margin-right: 16px;
}
.footer .p4 {
  width: 1200px;
  height: 40px;
}
.footer p {
  margin-left: 70px;
  margin-top: 6px;
  color: gray;
}
