/* right start */
.right {
  position: fixed;
  top: 0;
  right: 0;
  width: 36px;
  height: 640px;
  background-color: #595656;
  padding-top: 118px;
  z-index: 2;
}
.right li {
  width: 36px;
  margin-bottom: 18px;
  font-size: 24px;
  color: white;
  margin-left: 6px;
  margin-bottom: 24px;
}
.kefu {
  width: 160px;
  height: 38px;
  font-size: 18px;
  background-color: rgb(255, 102, 0);
  position: fixed;
  top: 590px;
  left: 1100px;
  z-index: 3;
  color: white;
}
/* right end */
/* menu */
.menu {
  display: flex;
  height: 40px;
  background-color: #ff734c;
  line-height: 40px;
}
.menu .lei {
  width: 238px;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  margin-left: 74px;
  font-size: 18px;
  color: white;
  line-height: 54px;
}

.menu li {
  float: left;
  margin-left: 30px;

  font-weight: 600;
  font-size: 16px;
}
.menu li a {
  color: white;
}
.banner img {
  margin: 0 auto;
}
/* 图标 */
.tubiao li {
  width: 70px;
  height: 80px;
  float: left;
  margin: 10px 40px;
  font-size: 10px;
  text-align: center;
}
.tubiao li i {
  font-size: 50px;
  color: #ff734c;
}
/* msg */
.msg {
  width: 1198px;
  height: 143px;
  background-color: #eee;
  margin: 10px auto;
  margin-top: 120px;
}
.msg p {
  width: 100%;
  height: 70px;
  line-height: 70px;
  font-size: 14px;
}
.msg p input {
  width: 140px;
  height: 20px;
}
/* #shoplist start */
#shopdata {
  width: 1250px;
  margin: 0 auto;
  overflow: hidden;
}
#shopdata li {
  width: 290px;
  height: 400px;
  margin: 10px;
  float: left;
  border-bottom: 2px solid #eee;
}
#shopdata li #shopimg {
  width: 290px;
  height: 300px;
  margin-bottom: 14px;
}

/* adress */
.adress {
  width: 300px;
  height: 160px;
  float: left;
  border-bottom: 2px solid #eee;
}

.adress ul li {
  font-size: 12px;
  color: gray;
  margin-top: 8px;
  list-style: disc;
}

/* adress end */

/* footer */
.footer {
  width: 100%;
  height: 210px;
  background-color: white;
  padding-top: 40px;
  margin-top: 120px;
}
.footer li {
  float: left;
  margin-top: 4px;
  margin-left: 50px;
  color: gray;
  border-right: 2px solid gray;
  padding-right: 18px;
  font-size: 16px;
}
.footer .p1 {
  width: 1200px;
  height: 40px;
  font-size: 10px;
  margin-top: 20px;
  line-height: 40px;
}
.footer .p2 {
  width: 1200px;
  height: 40px;
  font-size: 10px;
}
.footer .p3 {
  width: 1200px;
  height: 50px;
}
.footer .p3 img {
  float: left;
  margin-right: 16px;
}
.footer .p4 {
  width: 1200px;
  height: 40px;
}
.footer p {
  margin-left: 70px;
  margin-top: 6px;
  color: gray;
}
