.back {
  width: 100%;
  height: 475px;
  background: url(../img/back.png) no-repeat;
  background-color: pink;
  overflow: hidden;
}
.back .table {
  width: 360px;
  height: 436px;
  border-radius: 10px;
  background-color: white;
  margin-left: 940px;
  margin-top: 20px;
}
.back p span {
  display: inline-block;
}
/* inp */
.inp {
  width: 280px;
  height: 34px;
  border: 1px solid #eee;
  padding-left: 30px;
  display: flex;
  margin: 20px auto;
}
.inp i {
  font-size: 20px;
  color: gray;
}
.inp input {
  width: 260px;
  height: 30px;
  font-size: 14px;
  color: gray;
  border: none;
  margin-left: 20px;
}
.back .table .log {
  width: 200px;
  height: 36px;
  background-color: orangered;
  text-align: center;
  line-height: 36px;
  font-size: 20px;
  margin: 30px auto;
  border-radius: 15px;
}
.back .table .log p {
  margin: 10px auto;
  font-size: 12px;
  color: gray;
}
/* footer */
.footer {
  width: 100%;
  height: 210px;
  background-color: white;
  padding-top: 40px;
}
.footer li {
  float: left;
  margin-top: 4px;
  margin-left: 50px;
  color: gray;
  border-right: 2px solid gray;
  padding-right: 18px;
  font-size: 16px;
}
.footer .p1 {
  width: 1200px;
  height: 40px;
  font-size: 10px;
  margin-top: 20px;
  line-height: 40px;
}
.footer .p2 {
  width: 1200px;
  height: 40px;
  font-size: 10px;
}
.footer .p3 {
  width: 1200px;
  height: 50px;
}
.footer .p3 img {
  float: left;
  margin-right: 16px;
}
.footer .p4 {
  width: 1200px;
  height: 40px;
}
.footer p {
  margin-left: 70px;
  margin-top: 6px;
  color: gray;
}
